/* Стили для index.html */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --tertiary-background-color: #2f303a;
  --bottom-link-color: rgba(255, 255, 255, 0.6);
  --icons-color: #afb1b8;
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  margin: 0;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-container {
  margin-left: 0;
  margin-right: 0;
  width: 1600px;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-nav,
.main-site-nav {
  display: flex;
  align-items: center;
}

.section-header {
  border-bottom: 1px solid #ececec;
}

.section-header.first-page {
  border-bottom: 1px solid #ececec;
  max-width: 1600px;
  margin: 0 auto;
}

/* Logo */

.logo {
  color: var(--accent);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo.top {
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo .name {
  color: var(--secondary-text-color);
}

.logo .text {
  color: var(--primary-white-color);
}
.logo-bottom {
  display: inline-block;
  margin-bottom: 20px;
}
.logo-bottom-name {
  color: var(--primary-white-color);
}
/* Site-nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav > .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--main-transition);
}

.link.current::after {
  content: '';
  position: absolute;
  width: 100%;
  border: solid var(--accent);
  border-radius: 2px;
  bottom: -1px;
  left: 0;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}

.site-nav .link.current {
  color: var(--accent);
}

/* Auth-nav */
.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav > .item + .item {
  margin-left: 50px;
}

.auth-nav .top {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--main-transition);
}

.auth-nav .icon {
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav .top:hover,
.auth-nav .top:focus,
.auth-nav.bottom:hover,
.auth-nav.bottom:focus {
  color: var(--accent);
}
.auth-nav.bottom {
  display: inline-block;
  color: var(--bottom-link-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  transition: color var(--main-transition);
}

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--tertiary-background-color);
}
.hero .title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.overlay {
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-image.jpg);
  background-size: cover;
}

/* Button */
.button {
  display: inline-block;
  border-radius: 4px;
  border: transparent;
  font-family: inherit;
  text-align: center;
}
button.primary {
  padding: 10px 32px;
  min-width: 200px;
  background-color: var(--accent);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.button.secondary {
  padding: 6px 22px;
  min-width: 73px;
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  transition: color var(--main-transition), background-color var(--main-transition),
    box-shadow var(--main-transition);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.pointer {
  cursor: pointer;
}

.section,
.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-activity {
  padding-bottom: 94px;
}
/* Advantages */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.16;
}

.features {
  display: flex;
  justify-content: space-between;
}
.features > .item {
  width: 270px;
}

.features .item + .item {
  margin-left: 30px;
}

.features .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features .text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}

.icons-advantages {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
}

.icon-advantage {
  width: 70px;
  height: 70px;
}

/* Our-work */

.work-pics {
  display: flex;
}
.work-pics .item + .item {
  margin-left: 30px;
}

.work-pics .item {
  position: relative;
}

.work-pics-box {
  position: absolute;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-pics-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  margin: 0;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Team */
.team {
  background-color: var(--secondary-background-color);
}

.team-name,
.clients .title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team-list {
  display: flex;
}

.team-card {
  padding: 30px 32px;
  background: var(--primary-white-color);
}

.team-list .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-member {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.position {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
}

.icons-team {
  display: flex;
}

.network-field {
  display: flex;
}

.icons-team:not(:last-child) {
  margin-right: 10px;
}

.network-link {
  fill: var(--icons-color);
  border-radius: 50%;

  transition: background-color var(--main-transition), fill var(--main-transition);
}

.network-link:hover,
.network-link:focus {
  background-color: var(--accent);
  fill: var(--primary-white-color);
}

.network-link,
.network-link-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.icons-team .icon,
.bottom-link .icon {
  width: 20px;
  height: 20px;
}

/* Clients */

.clients-companies {
  display: flex;
}
.clients-company:not(:last-child) {
  margin-right: 30px;
}
.company {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;

  transition: border-color var(--main-transition);
}

.company .icon {
  width: 106px;
  height: 60px;
  fill: var(--icons-color);

  transition: border var(--main-transition);
}
.company:hover,
.company:focus {
  border-color: var(--accent);
}

.company:hover .icon,
.company:focus .icon {
  fill: var(--accent);
}

/* Footer */
.footer {
  background-color: var(--tertiary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.actual-address {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address-box .item:not(:last-child) {
  margin-bottom: 9px;
}

.join-box .title,
.sign-in .text {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-group {
  display: inline-block;
}
.footer-groups {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.join-box {
  margin-left: 70px;
  margin-right: 93px;
}
.bottom-links {
  display: flex;
}
.bottom-link {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.bottom-link:not(:last-child) {
  margin-right: 10px;
}

.network-link-bottom {
  fill: var(--primary-white-color);
  border-radius: 50%;
  transition: background-color var(--main-transition), border-radius var(--main-transition);
}

.network-link-bottom:hover,
.network-link-bottom:focus {
  background-color: var(--accent);
}

.footer-email:focus {
  color: rgba(255, 255, 255, 0.6);
}

/* Стили для portfolio.html */

.button.active {
  color: var(--primary-white-color);
  background-color: var(--accent);
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  width: 611px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.filter .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio > .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio .title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .text {
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.87;
}
.portfolio-item {
  display: block;
  color: inherit;
  text-decoration: none;

  transition: box-shadow var(--main-transition);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-bottom {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

/* Overlay */

.portfolio .item {
  width: 370px;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);

  transition: transform var(--main-transition), opacity var(--main-transition);
}

.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus .portfolio-overlay {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);

  opacity: 1;
}

.portfolio-item:hover .portfolio-text,
.portfolio-item:focus .portfolio-text,
.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus .portfolio-overlay {
  opacity: 1;
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: transform var(--main-transition), opacity var(--main-transition);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(1.15);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.icon-box {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.icon-close {
  width: 18px;
  height: 18px;

  transition: fill var(--main-transition);
}

.icon-close:hover,
.icon-close:focus {
  fill: var(--accent);
}

/* Sign in */

.footer-email {
  display: block;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--tertiary-background-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
}

.button.footer-button {
  position: relative;

  text-align: justify;
}

.icon-send {
  width: 24px;
  height: 24px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
}

.sign-in-box {
  display: flex;
  align-items: center;
}

/* Form Styles */

.form-title {
  display: block;
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: var(--secondary-text-color);
}

.form {
  width: 100%;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}

.form-input,
.comment {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input {
  padding-left: 42px;
  transition: border var(--main-transition), outline var(--main-transition);
}

.form-icon {
  transition: fill var(--main-transition);
}

.form-input:focus + .form-icon {
  fill: var(--accent);
}
.form-input:focus,
.comment:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.comment {
  padding: 12px 16px;

  transition: border var(--main-transition);
}

.form-label {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  margin-bottom: 4px;

  color: var(--primary-text-color);
}

.form-comment {
  width: 100%;
}

.comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.comment {
  resize: none;
  width: 100%;
  height: 120px;

  margin-bottom: 20px;
}

.form-icon {
  width: 18px;
  height: 18px;

  position: absolute;
  left: 10px;
  top: 50%;
}

.form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  cursor: pointer;
}

.form-button:hover,
.form-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.policy-link {
  color: var(--accent);
  font-family: inherit;
}

.policy {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);

  cursor: pointer;
}

.checkbox-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
}

.checkbox:checked + .checkbox-icon {
  background-color: var(--accent);
  border-color: var(--accent);
}
